@font-face {
  font-family: 'Caveat';
  src: url('/wp-content/themes/twist/fonts/Caveat-Regular.eot');
  src: url('/wp-content/themes/twist/fonts/Caveat-Regular.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/twist/fonts/Caveat-Regular.woff') format('woff'),
  url('/wp-content/themes/twist/fonts/Caveat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gagalin';
  src: url('/wp-content/themes/twist/fonts/Gagalin-Regular.eot');
  src: url('/wp-content/themes/twist/fonts/Gagalin-Regular.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/twist/fonts/Gagalin-Regular.woff') format('woff'),
  url('/wp-content/themes/twist/fonts/Gagalin-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('/wp-content/themes/twist/fonts/Rubik-Regular.eot');
  src: url('/wp-content/themes/twist/fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/twist/fonts/Rubik-Regular.woff') format('woff'),
  url('/wp-content/themes/twist/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('/wp-content/themes/twist/fonts/Rubik-Bold.eot');
  src: url('/wp-content/themes/twist/fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
  url('/wp-content/themes/twist/fonts/Rubik-Bold.woff') format('woff'),
  url('/wp-content/themes/twist/fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}