@mixin section-width {
  max-width: $max-desktop-wrapper;
}
@mixin paddings {
  @media #{$max-mobile-width} {
    padding-left: $padding--mobile;
    padding-right: $padding--mobile;
  }
  @media #{$min-tablet-width} {
    padding-left: $padding--tablet;
    padding-right: $padding--tablet;
  }
  @media #{$min-desktop-width} {
    padding-left: $padding--desktop;
    padding-right: $padding--desktop;
  }
}
@mixin centers {
  margin-left: auto;
  margin-right: auto;
}
@mixin custom-owl-navs {
  .owl-dots .owl-dot span {
    width: 85px;
    height: 5px;
    border-radius: 0;
  }
  .owl-dots .owl-dot.active span {
    background-color: $color--main;
  }
}