//display widths
$max-mobile-width: "(max-width: 767px)";
$max-mobile-wrapper: 540px;

$min-tablet-width: "(min-width: 768px)";
$max-tablet-width: "(max-width: 1140px)";
$max-tablet-wrapper: 960px;

$min-desktop-width: "(min-width: 1141px)";
$max-desktop-wrapper: 1300px;

$min-fullhd-width: "(min-width: 1921px)";

//blocks
$padding--mobile: 20px;
$padding--tablet: 45px;
$padding--desktop: 50px;

//text
$color--main: #1A1C00;
$color--alt: #74BE0F;

$font--title:  "Gagalin", Arial, sans-serif;
$font--subtitle: "Caveat", Arial, serif;
$font--main: "Rubik", Arial, serif;


//inputs buttons
$border-main: #1A1C00;
//backgrounds
$bg--main: #ffffff;

$box-shadow: 0 3px 21px 0 rgba(176, 173, 168, .4);