.confid__checkbox {
  display: none !important;
}
.confid__label {
  position: relative;
  padding-left: 30px;
  margin-top: 30px;
  display: block;
  @media #{$max-mobile-width} {
    line-height: 21px;
  }
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid $border-main;
  }
}