.main-cat {
  .main-cat__wrapper {
    @include paddings;
    @include section-width;
    @include centers;
    padding-top: 7px;
    @media #{$min-desktop-width} {
      padding-top: 10px;
    }
  }
  .main-cat__buttons {
    text-align: center;
  }
  .main-cat__button {
    background-color: #fff;
    border: 2px solid $color--main;
    border-radius: 5px;

    color: $color--main;

    text-transform: uppercase;
    font-family: $font--gil;
    font-weight: 700;
    @media #{$max-mobile-width} {
      font-size: 12px;
      min-height: 30px;
      padding: 3px 5px;
      margin-left: 3px;
      margin-right: 3px;
      margin-top: 6px;
    }
    @media #{$min-tablet-width} {
      font-size: 14px;
      min-height: 40px;
      padding: 5px 10px;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 10px;
    }
    @media #{$min-desktop-width} {
      margin-left: 10px;
      margin-right: 10px;
      padding: 10px 20px;
      min-height: 60px;
      font-size: 18px;
      margin-top: 20px;
    }
    &:hover {
      background-color: rgba(255, 255, 124, 0.5);
    }
    &.active {
      background-color: #8bc34a;
    }
  }
}
.main-cat__list {
  &.soft-disable {
    display: none;
  }
}